<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.birthday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Birthdaywish">
        <activity android:name=".Favo"/>
        <activity android:name=".Hii" />
        <activity android:name=".secret" />
        <activity android:name=".Password" />
        <activity android:name=".words" />

        <service android:name=".music_service" />

        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".memory" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>